* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.5em;
  color: $color-text;
  background-color: $color-bg;
}

.app {

}

.content {
  width: 100%;
  max-width: 560px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding: $unit-xl 0 $unit-s 0;
  text-align: center;
  font-size: $font-size-small;
  color: $color-text-light;
}
